@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Righteous", cursive;
  font-family: "Sarala", sans-serif;
}

body {
  background-image: linear-gradient(
    -225deg,
    #473b7b 0%,
    #3584a7 51%,
    #30d2be 100%
  );
  background-blend-mode: multiply, multiply;
  font-size: 100%;
  background-size: 300% 300%;
  /*animation: animateBack 5s infinite alternate-reverse;*/
}

header {
  background-color: rgb(151, 34, 34);
  height: 100px;
  color: #fff;
}

.cabecalho {
  padding: 10px;
  max-width: 1000px;
  margin: auto;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.menu ul,
.menu li {
  list-style: none;
}

.menu ul {
  display: flex;
}

.menu li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding-right: 10px;
  padding-left: 10px;
  height: 100px;
  align-items: center;
  display: flex;
  border-bottom: 5px solid #000;
}

footer {
  background-color: white;
  text-align: center;
  padding: 4px;
  color: rgb(1, 0, 0);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.conteudo {
  border-top: 0.4px solid white;
  margin-bottom: 48px;
  padding: 60px;
}

.conteudo-principal:hover {
  background-color: brown;
  cursor: pointer;
}

.conteudo-secundario:hover {
  background-color: brown;
  cursor: pointer;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: "Righteous", cursive;
  font-weight: 400;
  color: #f4f2f1;
}

.conteudo-principal-escrito-subtitulo {
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: white;
}

.conteudo-principal-imagem {
  height: 200px;
  border: 5px solid white;
  border-radius: 60%;
}

.conteudo-principal-imagem img {
  padding: 40px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.9px solid white;
  padding-top: 48px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 24px;
  color: white;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  font-family: "Sarala", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
  text-align: justify;
}

.formacao {
  margin-bottom: 48px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.formacao :hover {
  background-color: brown;
  cursor: pointer;
}

.formacao-titulo {
  padding-top: 48px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 16px;
  color: white;
  margin-bottom: 16px;
}

.titulacao {
  border-top: 0.9px solid white;
  padding-top: 48px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 16px;
  color: white;
  margin-bottom: 16px;
}

.portfolio {
  margin-bottom: 48px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.portfolio-titulo {
  padding-top: 48px;
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 16px;
  color: white;
  margin-bottom: 16px;
}
